GROQ_API_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=http://localhost:3600/callback

GOOGLE_ACCESS_TOKEN=
GOOGLE_REFRESH_TOKEN=

DATABASE_URL="postgresql://postgres:postgres@localhost:5433/personal_assistant?schema=public"
SESSION_SECRET=
ENCRYPTION_KEY=

//docker exec personal-assistant-postgres-1 psql -U postgres -d personal_assistant -c '\dt'
//docker exec personal-assistant-postgres-1 psql -U postgres -d personal_assistant -c 'SELECT id, name, email, "createdAt" FROM "user";'
//npm run migration:run / migration:rever